/*===Common===*/

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1177px) {
  body {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
  color: #34aca7;
}

p,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.wrapper {
  display: flex;
  padding: 46px 20px;
}
/*===/ Common===*/

/*===Aside===*/

aside {
  display: flex;
  flex-direction: column;
  width: 16%;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
}

/*menu*/
.aside-navigation {
  display: flex;
  flex-direction: column;
}

.aside-navigation li {
  display: flex;
  margin-top: 5px;
  margin-bottom: 31px;
}

.aside-navigation li a {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
}

.aside-navigation__icon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.aside-navigation__icon_food {
  background: url("assets/icon-menu/food-icon.svg") no-repeat;
}

.aside-navigation__icon_blog {
  background: url("assets/icon-menu/blog-icon.svg") no-repeat;
}

.aside-navigation__icon_list {
  background: url("assets/icon-menu/a-list-icon.svg") no-repeat;
}

.aside-navigation__icon_camera {
  background: url("assets/icon-menu/camera-icon.svg") no-repeat;
}

.aside-navigation__icon_about {
  background: url("assets/icon-menu/about-icon.svg") no-repeat;
}

/*aside tweet*/
.tweet__title,
.friends__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 7px;
}

.tweet__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 30px;
  font-style: italic;
  font-size: 10px;
  color: #34aca7;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
}

.friends__text {
  font-style: italic;
  font-size: 10px;
  line-height: 19px;
  margin-bottom: 15px;
  margin-top: 5px;
}

/*===/ Aside===*/

/*====Main===*/

main {
  width: 100%;
  padding: 0 40px 20px;
}

.baner {
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 70px;
  background: url("assets/baner.png") 50% 50%;
  background-size: cover;
}

.baner__title {
  width: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.01em;
  padding: 13px;
  color: #000000;
  background: #ffffff;
}

.baner__description {
  width: 487px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  padding: 14px;
  color: #ffffff;
  background: #000000;
}

/*menu*/
.main-menu {
  display: flex;
  flex-wrap: wrap;
}

.main-menu li {
  display: flex;
  flex: 1;
  align-items: center;
  border-left: 1px solid #f9fbfb;
  border-right: 1px solid #d6e6e6;
  background: #eff8f7;
}

li.active {
  background: #d9efec;
}

.main-menu li:hover {
  background: #d9efec;
}

.main-menu li a {
  padding: 20px;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
}

.main-menu__item-description {
  font-style: italic;
  font-size: 10px;
  line-height: 19px;
  color: #34aca7;
}

/*subscribe*/
form {
  display: flex;
  margin: 30px 0 29px;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
  justify-content: space-between;
  align-items: center;
  padding: 7px 18px 10px;
}

.subscribe {
  display: flex;
}

.subscribe__text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  max-width: 530px;
  margin-left: 18px;
  color: #000000;
}

.input {
  display: flex;
  margin-left: 8px;
}

.input__email {
  width: 160px;
  height: 22px;
  border: 1px solid #e5e5e5;
  margin-right: 13px;
}

.input__email::placeholder {
  font-size: 10px;
  line-height: 10px;
  color: #e5e5e5;
  padding-left: 5px;
}

.input__button {
  width: 80px;
  height: 23px;
  background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 10px;
  line-height: 10px;
  color: #000000;
  cursor: pointer;
}

/*cards*/
.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 23%;
}

.card__image {
  width: 100%;
  outline: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  margin-bottom: 7px;
}

.card__title {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.card__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 9px;
  margin-bottom: 11px;
}

.card__footer {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #e5e5e5;
}

.date::after {
  content: "/";
  margin-left: 5px;
}

.link__read_more {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.link__read_more::after {
  content: "...";
}

/*====/ Main===*/

/*===Footer===*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 34px;
  border-top: 2px solid #e5e5e5;
}

.info-menu {
  display: flex;
}

.info-menu__item {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  padding-right: 4px;
}

.info-menu li:not(:last-child):after {
  content: "|";
  color: #e5e5e5;
}

.info-menu__item:not(:nth-last-of-type(1)) {
  padding-right: 4px;
  border-right: 1px solid #e5e5e5;
}

.rights {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #e5e5e5;
  margin-top: 5px;
}

.footer-icons {
  display: flex;
}

.footer-icons__twitter {
  display: block;
  background: url("assets/footer-icon/twitter.svg") no-repeat;
  width: 32px;
  height: 26px;
}

.footer-icons__facebook {
  display: block;
  background: url("assets/footer-icon/facebook.svg") no-repeat;
  width: 17px;
  height: 32px;
  margin-left: 7px;
}

.footer-icons__rss {
  display: block;
  background: url("assets/footer-icon/rss-icon.svg") no-repeat;
  width: 32px;
  height: 32px;
  margin-left: 7px;
}

/*===/ Footer===*/

@media (max-width: 1176px) {
  .main-menu__item-description {
    display: none;
  }

  .main-menu li {
    justify-content: center;
  }

  .main-menu li a {
    padding: 10px;
    text-align: center;
  }

  footer {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }

  .aside-navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    padding: 0;
    padding-bottom: 20px;
  }

  aside {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .logo__wrapper {
    margin-right: 90px;
    padding-bottom: 20px;
  }

  nav {
    width: 100%;
  }

  .tweet-friends {
    display: none;
  }

  .aside-navigation li a {
    flex-direction: column;
  }

  .aside-navigation__icon {
    margin-right: 0;
    margin-bottom: 12px;
  }

  footer {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .logo__wrapper {
    margin-right: 10px;
  }

  .aside-navigation__icon {
    display: none;
  }

  .baner__title {
    width: 100%;
    opacity: 0.5;
    justify-content: end;
  }

  .baner__description {
    width: 100%;
    justify-content: end;
  }

  .baner {
    padding-bottom: 0;
  }

  .main-menu {
    display: none;
  }
  form {
    flex-direction: column;
  }

  .subscribe {
    padding-bottom: 10px;
  }

  .input {
    margin-left: 0;
    width: 100%;
  }

  .input__email {
    width: 100%;
  }

  .card {
    width: 47%;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
  }

  .wrapper {
    padding: 30px 0;
  }

  aside {
    flex-direction: column-reverse;
    padding: 0 10px;
  }

  .baner {
    background: url("assets/baner-sm.png") 50% 50% no-repeat;
    height: 353px;
  }

  .cards__wrapper {
    padding: 0 50px;
  }

  .card {
    width: 100%;
  }
}
