aside {
  display: flex;
  flex-direction: column;
  width: 16%;

  @media (max-width: 992px) {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 480px) {
    flex-direction: column-reverse;
    padding: 0 10px;
  }
}

.logo__wrapper {
  display: flex;
  justify-content: center;

  @media (max-width: 992px) {
    margin-right: 90px;
    padding-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

/*menu*/
nav {
  @media (max-width: 992px) {
    width: 100%;
  }
}

.aside-navigation {
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    display: flex;
    margin-top: 5px;
    margin-bottom: 31px;
  }

  a {
    display: flex;
    @include style(14px, initial, italic);
    align-items: center;
    font-weight: normal;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__icon {
    @include size(30px, 30px);
    margin-right: 12px;

    @media (max-width: 992px) {
      margin-right: 0;
      margin-bottom: 12px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  @each $aside-icon in food, blog, a-list, camera, about {
    &__icon_#{$aside-icon} {
      background-image: url("images/icon-menu/#{$aside-icon}-icon.svg");
    }
  }
}

/*aside tweet*/
.tweet__title,
.friends__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
  border-bottom: 1px dashed $lite-grey;
  margin-bottom: 7px;
}

.tweet__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include size(140px, 30px);
  @include style(10px, initial, italic);
  color: $link-color;
  background: #ffffff;
  border: 1px solid $lite-grey;
  border-radius: 5px;
  cursor: pointer;
}

.tweet-friends {
  @media (max-width: 992px) {
    display: none;
  }
}

.friends__text {
  @include style(10px, 19px, normal);
  margin-bottom: 15px;
  margin-top: 5px;
}
