main {
  width: 100%;
  padding: 0 40px 20px;

  @media (max-width: 992px) {
    padding: 0;
    padding-bottom: 20px;
  }
}

.baner {
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 70px;
  background: url("images/baner.png") 50% 50%;
  background-size: cover;

  @media (max-width: 768px) {
    padding-bottom: 0;
  }

  @media (max-width: 480px) {
    background: url("images/baner-sm.png") 50% 50% no-repeat;
    height: 353px;
  }
}

.baner__title {
  width: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include style(22px, 22px, italic);
  letter-spacing: 0.01em;
  padding: 13px;
  color: #000000;
  background: #ffffff;

  @media (max-width: 768px) {
    width: 100%;
    opacity: 0.5;
    justify-content: end;
  }
}

.baner__description {
  width: 487px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include style(14px, 14px, italic);
  padding: 14px;
  color: #ffffff;
  background: #000000;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: end;
  }
}

/*menu*/
.main-menu {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    display: none;
  }

  li {
    display: flex;
    flex: 1;
    align-items: center;
    border-left: 1px solid #f9fbfb;
    border-right: 1px solid #d6e6e6;
    background: $tabs-color;

    @media (max-width: 1176px) {
      justify-content: center;
    }
  }

  li.active {
    background: $tabs-active;
  }

  li:hover {
    background: $tabs-active;
  }

  a {
    @include style(18px, 18px, normal);
    width: 100%;
    padding: 20px;

    @media (max-width: 1176px) {
      padding: 10px;
      text-align: center;
    }
  }

  &__item-description {
    @include style(10px, 19px, italic);
    color: $link-color;

    @media (max-width: 1176px) {
      display: none;
    }
  }
}

/*subscribe*/
form {
  display: flex;
  margin: 30px 0 29px;
  border-top: 1px dashed $lite-grey;
  border-bottom: 1px dashed $lite-grey;
  justify-content: space-between;
  align-items: center;
  padding: 7px 18px 10px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .subscribe {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      padding-bottom: 10px;
    }

    .subscribe__icon {
      height: 26px;
    }

    &__text {
      @include style(14px, 16px, italic);
      max-width: 530px;
      margin-left: 18px;
      color: #000000;
    }
  }

  .input {
    display: flex;
    margin-left: 8px;

    @media (max-width: 768px) {
      margin-left: 0;
      width: 100%;
    }

    &__email {
      @include size(160px, 22px);
      border: 1px solid $lite-grey;
      margin-right: 13px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &__email::placeholder {
      @include style(10px, 10px, normal);
      color: $lite-grey;
      padding-left: 5px;
    }

    &__button {
      @include size(80px, 23px);
      @include style(10px, 10px, normal);
      background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
      border: 1px solid $lite-grey;
      border-radius: 2px;
      color: #000000;
      cursor: pointer;
    }
  }
}

/*cards*/
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 480px) {
    padding: 0 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 23%;

    @media (max-width: 768px) {
      width: 47%;
      padding-bottom: 20px;
    }

    @media (max-width: 480px) {
      width: 100%;
    }

    &__image {
      width: 100%;
      outline: 1px solid $lite-grey;
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
      margin-bottom: 7px;
    }

    &__title {
      @include style(16px, 21px, normal);
      letter-spacing: -0.02em;
    }

    &__text {
      @include style(14px, 20px, normal);
      letter-spacing: -0.02em;
      color: #000000;
      margin-top: 9px;
      margin-bottom: 11px;
    }

    &__footer {
      @include style(14px, 20px, normal);
      letter-spacing: -0.02em;
      color: $lite-grey;

      .date::after {
        content: "/";
        margin-left: 5px;
      }

      .read-more {
        @include style(14px, 20px, normal);
        letter-spacing: -0.02em;
      }

      .read-more::after {
        content: "...";
      }
    }
  }
}
