* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 1366px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #34aca7;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  padding: 46px 143px 41px;
}

/* Aside */

aside {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.logo__aside_wrapper {
  display: flex;
  justify-content: center;
}

/*menu*/
.menu__aside {
  display: flex;
  flex-direction: column;
}

.menu__aside li {
  display: flex;
  margin-top: 5px;
  margin-bottom: 31px;
}

.menu__aside li a {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
}

.icon__menu__aside {
  margin-right: 12px;
}

/*aside tweet*/
p.tweet__title,
p.friends__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 7px;
}

.tweet__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 30px;
  font-style: italic;
  font-size: 10px;
  color: #34aca7;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
}

p.friends__text {
  font-style: italic;
  font-size: 10px;
  line-height: 19px;
  margin-bottom: 15px;
  margin-top: 5px;
}

/*Main*/

main {
  width: 896px;
  margin-left: 44px;
  padding-bottom: 20px;
}

.baner {
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 69px;
  background: url("assets/baner.png");
}

.baner__title {
  width: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.01em;
  padding: 13px;
  color: #000000;
  background: #ffffff;
}

.baner__description {
  width: 487px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  padding: 14px;
  color: #ffffff;
  background: #000000;
}

/*menu*/
.main__menu {
  display: flex;
  flex-wrap: wrap;
}

.main__menu li {
  display: flex;
  flex: 1;
  align-items: center;
  border-left: 1px solid #f9fbfb;
  border-right: 1px solid #d6e6e6;
  background: #eff8f7;
}

li.active {
  background: #d9efec;
}

.main__menu li:hover {
  background: #d9efec;
}

.main__menu li a {
  padding: 26px 54px 22px 19px;
  font-size: 18px;
  line-height: 18px;
}

p.menu__item_description {
  font-style: italic;
  font-size: 10px;
  line-height: 19px;
  color: #34aca7;
}

/*subscribe*/
form {
  display: flex;
  margin: 30px 0 29px;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
  justify-content: space-between;
  align-items: center;
  padding: 7px 18px 10px;
}

p.subscribe__text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  max-width: 530px;
  color: #000000;
}

.input__wrapper {
  margin-left: 8px;
}

input {
  width: 160px;
  height: 22px;
  border: 1px solid #e5e5e5;
  margin-right: 13px;
}

input::placeholder {
  font-size: 10px;
  line-height: 10px;
  color: #e5e5e5;
  padding-left: 5px;
}

.subscribe__button {
  width: 80px;
  height: 23px;
  background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 10px;
  line-height: 10px;
  color: #000000;
  cursor: pointer;
}

/*cards*/
.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0;
}

.card__image {
  outline: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  margin-bottom: 7px;
}

.card__link__title {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.card__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 9px;
  margin-bottom: 11px;
}

.card__date {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #e5e5e5;
}

.date::after {
  content: "/";
  margin-left: 5px;
}

.link__read_more {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.link__read_more::after {
  content: "...";
}
/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 135px;
  margin-right: 143px;
  padding: 20px 8px 34px;
  border-top: 2px solid #e5e5e5;
}

.footer__link {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
}

.footer__link:not(:nth-last-of-type(1)) {
  padding-right: 4px;
  border-right: 1px solid #e5e5e5;
}

p.rights {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #e5e5e5;
  margin-top: 5px;
}

.footer__icon {
  margin-left: 7px;
}