$link-color: #34aca7;
$lite-grey: #e5e5e5;
$tabs-color: #eff8f7;
$tabs-active: #d9efec;

@mixin style($fsz, $lh, $fstl) {
    font-size: $fsz;
    line-height: $lh;
    font-style: $fstl;
}

@mixin size($wth, $hght) {
    width: $wth;
    height: $hght;
}