footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 34px;
    border-top: 2px solid #e5e5e5;
  }
  
  .info-menu {
    display: flex;
  }
  
  .info-menu__item {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    padding-right: 4px;
  }
  
  .info-menu li:not(:last-child):after {
    content: "|";
    color: #e5e5e5;
  }
  
  .info-menu__item:not(:nth-last-of-type(1)) {
    padding-right: 4px;
    border-right: 1px solid #e5e5e5;
  }
  
  .rights {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #e5e5e5;
    margin-top: 5px;
  }
  
  .footer-icons {
    display: flex;
  }
  
  .footer-icons__twitter {
    display: block;
    background: url("../assets/footer-icon/twitter.svg") no-repeat;
    width: 32px;
    height: 26px;
  }
  
  .footer-icons__facebook {
    display: block;
    background: url("../assets/footer-icon/facebook.svg") no-repeat;
    width: 17px;
    height: 32px;
    margin-left: 7px;
  }
  
  .footer-icons__rss {
    display: block;
    background: url("../assets/footer-icon/rss-icon.svg") no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 7px;
  }